// 颜色定义规范
$color-background-white = #ffffff
$color-background-gray = #dedede
$color-background-gray-d = #f1f1f1
$color-background-red = #d44439
$color-background-black = #000000
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #ffffff
$color-theme = #ffffff
$color-theme-d = rgba(255, 255, 255, 0.6)
$color-line-gray = #eaeaea
$color-line-gray-d = #929292
$color-text-gray = #d3d3d3
$color-text-gray-d = #8f8f8f
$color-text-white = #fff
$color-text-white-l = #f1f1f1
$color-text-black = #000000
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-ss = 8px
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-small-x = 13px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large-s = 18px
$font-size-large = 20px
$font-size-large-x = 22px
